.date-picker{
  font-family: Arial, sans-serif;
}

.fade-enter {
    opacity: 0.01;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}

.input-error{
  border-color: red;
}

.label-error-show{
    display: block;
    color: red;
}
.label-error-hide{
    display: none;
}